<div ng-init="ctrlProfile.findUserProfile()"></div>
<div ng-init="ctrlProfile.findAllStates()"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card" style="position: sticky; top: 80px;">
                <div class="card-body">
                    <center class="mt-4">
                        <img src="../../img/uploads/profilePics/{{user.image}}" class="rounded-circle" width="150">
                        <h4 class="card-title mt-2">{{user.name}} {{user.lastname}} {{user.surname}}</h4>
                        <button ng-if="role === 'ROLE_CANDIDATO'"
                            style="background: linear-gradient(169deg,#048abf,#2cc1fc); color: #fff; border-radius: 10px;"
                            class="btn" ng-click="ctrlProfile.downloadCV()"><i class="fa-solid fa-file-pdf"></i> Generar CV</button>
                        <button ng-if="role === 'ROLE_CANDIDATO'"
                            style="background: linear-gradient(169deg,#048abf,#2cc1fc); color: #fff; border-radius: 10px;"
                            class="btn" data-bs-toggle="modal" data-bs-target="#uploadCv"><i class="fa-solid fa-file-pdf"></i> Cargar CV</button>
                        <h6 class="text-muted">{{profile.description}}</h6>

                    </center>
                </div>
                <div>
                    <hr>
                </div>
                <div class="card-body">
                    <small class="text-muted">Correo electrónico </small>
                    <h6>{{user.username}}</h6>
                    <small class="text-muted pt-4 db">Teléfono</small>
                    <h6>{{user.phone}}</h6>
                    <small class="text-muted pt-4 db">Estado de la república</small>
                    <h6>{{user.city.name}}, {{user.city.state.name}}</h6>
                    <small class="text-muted pt-4 db">Fecha de nacimiento</small>
                    <h6>{{user.birthDate | date:'dd/MMM/yyyy'}}</h6>
                    <button type="button" ng-click="ctrlProfile.stateHandler()" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" ng-if="role === 'ROLE_CANDIDATO'">Editar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="perfil" role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="card-body">

                            <div class="profiletimeline mt-0">
                                <div class="sl-item d-flex align-items-start">

                                    <div class="sl-left col-md-8">
                                        <h2 style="">Estudios:</h2>
                                        <p>{{profile.studies}}</p>
                                    </div>
                                    <div class="sl-right col-md-4">
                                        <img style="width: 50%;"
                                            src="https://cdn-icons-png.flaticon.com/512/747/747086.png"
                                            class="img-fluid rounded">
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                        <div class="card-body">

                            <div class="profiletimeline mt-0">
                                <div class="sl-item d-flex align-items-start">
                                    <div class="sl-left col-md-8">
                                        <h2 style="">Idiomas:</h2>
                                        <p>{{profile.languages}}</p>
                                    </div>
                                    <div class="sl-right col-md-4">
                                        <img style="width: 50%;"
                                            src="https://www.kindpng.com/picc/m/361-3613400_martin-chapman-fromm-icono-de-idioma-png-transparent.png"
                                            class="img-fluid rounded">
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="profiletimeline mt-0">
                                <div class="sl-item d-flex align-items-start">

                                    <div class="sl-left col-md-8">
                                        <h2 style="">Cursos:</h2>
                                        <p>{{profile.courses}}</p>
                                    </div>
                                    <div class="sl-right col-md-4 mt-40">
                                        <img style="width: 50%;" src="../../img/cursoo.png" class="img-fluid rounded">
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                        <div class="card-body">

                            <div class="profiletimeline ">
                                <div class="sl-item d-flex align-items-start">

                                    <div class="sl-left col-md-8">
                                        <h2 style="">Habilidades:</h2>
                                        <p>{{profile.skills}}</p>
                                    </div>
                                    <div class="sl-right col-md-4 ">
                                        <img style="width: 50%;" src="../../img/skills.png" class="img-fluid rounded">
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                        <div class="card-body">

                            <div class="profiletimeline ">
                                <div class="sl-item d-flex align-items-start">

                                    <div class="sl-left col-md-8">
                                        <h2 style="">Certificaciones:</h2>
                                        <p>{{profile.certifications}}</p>
                                    </div>
                                    <div class="sl-right col-md-4 ">
                                        <img style="width: 50%;" src="../../img/skills.png" class="img-fluid rounded">
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>

                        <div class="card-body">

                            <div class="profiletimeline ">
                                <div class="sl-item d-flex align-items-start">

                                    <div class="sl-left col-md-8">
                                        <h2 style="">Conocimientos:</h2>
                                        <p>{{profile.knowledge}}</p>
                                    </div>
                                    <div class="sl-right col-md-4 ">
                                        <img style="width: 50%;" src="../../img/brain.png" class="img-fluid rounded">
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>



                    </div>
                    



                </div>
                </section>
            </div>
        </div>
    </div>
    <!--Modal de editar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #128cbe;">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Datos </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="name" ng-model="user.name">
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="col-form-label">Apellido Paterno:</label>
                            <input type="text" class="form-control" id="lastname" ng-model="user.lastname">
                        </div>
                        <div class="mb-3">
                            <label for="surname" class="col-form-label">Apellido Materno:</label>
                            <input type="text" class="form-control" id="surname" ng-model="user.surname">
                        </div>
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Título del CV</label>
                            <input type="text" class="form-control" id="title" ng-model="profile.title">
                        </div>
                        <div class="mb-3">
                            <label for="desc" class="col-form-label">Descripción:</label>
                            <input type="text" class="form-control" id="desc" ng-model="profile.description">
                        </div>
                        <div class="mb-3">
                            <label for="exp" class="col-form-label">Experiencia Laboral:</label>
                            <input type="text" class="form-control" id="exp" ng-model="profile.experience">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Teléfono:</label>
                            <input type="text" class="form-control" id="phone" ng-model="user.phone">
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">Estado</label>
                            <select required class="form-select" name="state" id="state" ng-model="tmp.state"
                                ng-options="state as state.name for state in listStates track by state.id"
                                ng-change="ctrlProfile.findAllCities()">
                                <option value="" hidden>Seleccionar Estado</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">Municipio</label>
                            <select required class="form-select" name="city" id="city" ng-model="user.city"
                                ng-options="city as city.name for city in listCities track by city.id">
                                <option value="" hidden>Seleccionar Municipio</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="study" class="col-form-label">Estudios:</label>
                            <input type="text" class="form-control" id="study"  ng-model="profile.studies">
                        </div>
                        <div class="mb-3">
                            <label for="language" class="col-form-label">Idiomas:</label>
                            <input type="text" class="form-control" id="language"  ng-model="profile.languages">
                        </div>
                        <div class="mb-3">
                            <label for="course" class="col-form-label">Cursos:</label>
                            <input type="text" class="form-control" id="course"  ng-model="profile.courses">
                        </div>
                        <div class="mb-3">
                            <label for="skill" class="col-form-label">Habilidades:</label>
                            <input type="text" class="form-control" id="skill"  ng-model="profile.skills">
                        </div>
                        <div class="mb-3">
                            <label for="certifications" class="col-form-label">Certificaciones:</label>
                            <input type="text" class="form-control" id="certifications"  ng-model="profile.certifications">
                        </div>
                        <div class="mb-3">
                            <label for="knowledge" class="col-form-label">Conocimientos:</label>
                            <input type="text" class="form-control" id="knowledge"  ng-model="profile.knowledge">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" style="background-color: #128cbe; color: #fff;" class="btn" ng-click="ctrlProfile.updateUser()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal de subir cv-->
    <div class="modal fade" id="uploadCv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #128cbe;">
                    <h5 class="modal-title" id="exampleModalLabel">Subir CV</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h1 class="fa-5x">
                        <i class="fa fa-exclamation-triangle text-warning"></i>
                    </h1>
                    <p ng-if="user.gender == 1">El curriculum que subas será el que se le entregue a los reclutadores de las vacantes que te encuentres interesado, de lo contrario se entregará el generado por nosotros</p>
                    <p ng-if="user.gender == 0">El curriculum que subas será el que se le entregue a los reclutadores de las vacantes que te encuentres interesada, de lo contrario se entregará el generado por nosotros</p>
                    <input type="file" id="cv" required accept="application/pdf">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" style="background-color: #128cbe; color: #fff;" class="btn" ng-click="ctrlProfile.uploadCV()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>